{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline">{{ message }}</span>
        </div>
    {% endfor %}
{% endif %}
    <div class="flex items-center justify-center min-h-screen bg-blue-100 dark:bg-blue-900">
    <div class="bg-gradient-to-br from-blue-400 to-blue-600 p-8 rounded-lg shadow-lg w-80">
        <h2 class="text-2xl font-bold text-center text-black dark:text-white mb-6">Crear cuenta</h2>
        <form data-bitwarden-watching="1" method="post">
            {% csrf_token %}
            <div class="mb-4 relative">
                <input type="text" placeholder="Nombre de Usuario" id="username" name="username" class="w-full p-3 rounded-lg border border-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div class="mb-4 relative">
                <input type="text" placeholder="Correo Electrónico" id="email" name="email" class="w-full p-3 rounded-lg border border-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <div class="mb-6 relative">
                <input type="password" placeholder="Contraseña" id="password" name="password" class="w-full p-3 rounded-lg border border-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <button type="button" id="togglePassword" class="absolute top-1/2 right-4 transform -translate-y-1/2 text-blue-400 dark:text-blue-600">
                    <img aria-hidden="true" alt="eye" src="{% static 'LoginAuthentication/eye-closed.png'%}" id="eyeIcon" crossorigin="anonymous">
                </button>
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white p-3 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Crear cuenta</button>
            <p class="text-center text-sm text-blue-500 dark:text-blue-300 mt-4">¿Ya tienes una cuenta? <a href="/login/" class="font-medium text-blue-500 dark:text-blue-300">Inicia sesión</a></p>
        </form>
    </div>
</div>
<script>
    const passwordInput = document.getElementById('password');
    const eyeIcon = document.getElementById('eyeIcon');
    const togglePassword = document.getElementById('togglePassword');

    togglePassword.addEventListener('click', function () {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        if (type === 'text') {
            eyeIcon.src = "{% static 'LoginAuthentication/eye-open.png'%}";
        } else {
            eyeIcon.src = "{% static 'LoginAuthentication/eye-closed.png'%}";
        }
});
</script>
  </body>
</html>