{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static "LoginAuthentication/home.css" %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex min-h-screen bg-blue-100 dark:bg-blue-900 flex-col">
    <navbar class="navbar bg-gradient-to-br from-blue-400 to-blue-600 shadow-lg gap-4">
        <a href="#">Perfil</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </navbar>
    <div class="flex m-2 p-1 font-bold">
    <h2>Bienvenido {{ user.username }}</h2>
    </div>
    <div class="card-list">
        {% for profesor in profesores%}
        <div class="card bg-gradient-to-br from-blue-400 to-blue-600 shadow-lg">
        <a href="">
        <img src="{% static "LoginAuthentication/gato_tutor.jpg" %}">
        <h3 class= "flex justify-center">{{ profesor.first_name }} {{ profesor.last_name }}</h3>
        <p>Clases: Matemática, Historia, Filosofia</p>
        {% endfor%}
        </a>
        </div>
    </div>
</div>
</body>
</html>
