{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static "LoginAuthentication/home.css" %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex min-h-screen bg-blue-100 dark:bg-blue-900 flex-col">
    <navbar class="navbar bg-gradient-to-br from-blue-400 to-blue-600 shadow-lg gap-4">
        <a href="#">Perfil</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </navbar>
    <div class="flex m-2 p-1 font-bold">

    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4">
        {% if messages %}
            {% for message in messages %}
                <div class="{% if message.tags %}{{ message.tags }}{% endif %} bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-4" role="alert">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4">
    {% for profesor in profesores %}
        <div class="w-64 h-80 mx-auto rounded-lg shadow-lg overflow-hidden transition-transform duration-300 hover:scale-105">
            <a href="" class="block h-full flex flex-col">
                <div class="h-40 bg-gradient-to-br from-blue-400 to-blue-600"></div>
                <div class="p-4 bg-gray-100 flex-grow flex flex-col justify-between">
                    <h3 class="text-lg font-semibold text-center mb-2 text-gray-800">{{ profesor.first_name }} {{ profesor.last_name }}</h3>
                    <p class="text-sm text-center text-gray-600 overflow-y-auto flex-grow">
                        {% with profesor_clases=clases|filter:profesor.id %}
                            {% if profesor_clases %}
                                {% for clase in profesor_clases %}
                                    {{ clase.nombre }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                El profesor no posee clases asignadas.
                            {% endif %}
                        {% endwith %}
                    </p> 
                </div>
            </a>
        </div>
    {% endfor %}
</div>

    </div>
    
    
    
</div>
</body>
</html>
