<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex items-center justify-center min-h-screen bg-blue-100 dark:bg-blue-900">
        <div class="bg-gradient-to-br from-blue-400 to-blue-600 p-8 rounded-lg shadow-lg w-80">
            <h2 class="text-2xl font-bold text-center text-black dark:text-white mb-6">Menú Principal</h2>
            <ul>
                <a href="{% url 'iniciar_sesion' %}" class="w-full bg-blue-500 text-white p-3 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Iniciar sesión</a>
                <a href="{% url 'crear_cuenta' %}" class="w-full bg-blue-500 text-white p-3 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Crear Cuenta</a>
            <ul>
        </div>
    </div>
</body>
</html>
